.v-snack__wrapper.v-sheet.theme--light.elevation-18.white {
    border-radius: 31px 31px 0px 31px;
    height: 60px;
    bottom: 3%;
  }
  .snackbar-text {
    font-family: "CircularStd-Book";
    font-weight: bold;
  }